/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

  

     nav{
          padding-top: 5px!important;
      }

      .custom-nav-item li a {
        padding: 0 14px !important;
        font-size: 18px;
        text-align: right;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .custom-nav-item li:last-child a {
        padding: 0 14px !important;
        
      }

     .banner{
           padding: 10px;
     }

     .slider-text{
          margin-top: 0px;
      }
      
      .slider-text h1{
          font-size: 25px;
          margin-bottom: 15px;
      
      }
      
      .slider-text h2{
          font-size: 16px;
          margin-bottom: 10px;
      }
      
      .slider-text p{
          font-size: 16px;
          margin-bottom: 16px;
      }
      
      .font-awsome-icon ul li{
          margin-right: 25px !important;
          font-size: 30px;
      }
      
      
          /* indicator start  */
          .custom-indicator{
              display: none;
          }
          
     
          /* indicator end  */

          /* feature start  */

            .feature{
                padding: 25px 0px 25px 0px;
            }

            .f-custom-header{}

            .f-custom-header h1{
                font-size: 25px;
                 margin-bottom: 10px;
            }

            .f-custom-header p{
                font-size: 16px;
            }

              /* feature item  */

    .s-f-item{
        margin-top: 30px;
    }

    .single-feature-icon{
       
    }

    .single-feature-icon i{
        font-size: 30px;
        margin-bottom: 20px;
    }

    .single-feature-icon i:hover{
    }

    .single-feature-txt{
        text-align: center;
    }

    .single-feature-txt h2{
        font-size: 22px;
        font-weight: 700;
        word-spacing: 5px;
    }

    .single-feature-txt p{
        
    }





            /* feature end  */

            .f_1 {
                text-align: center;
                padding-bottom: 40px;
              }
          .f_2 {
                text-align: center;
              }
/* footer start  */
              footer {
               
                padding: 40px 0 40px 0;
            }
            .f-h-h1 {
                margin-bottom: 10px;
            }

            .f-form {
                padding-top: 15px;
                padding-bottom: 15px;
              }
          .f-email {
                padding: 5px 10px;
                height: 40px;
                font-size: 15px;
              }
          .f-submit{
                height: 40px;}
          .footer-icon {
               margin: 20px 0;
            }

            .footer-icon i {
                
                font-size: 40px;
                margin-left: 25px;
                
            }

/* footer end  */

     /* closing tag 	 */
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

     nav{
          padding-top: 10px!important;
      }

     /* banner start  */
     .banner{
           padding: 15px 15px 20px 15px;
     }
     .custom-nav-item li a {
        padding: 0 14px !important;
        font-size: 18px;
        text-align: right;
        margin-top: 5px;
        margin-bottom: 0px;
    }
    .custom-nav-item li:last-child a {
        padding: 0 14px !important;
        
      }

     .banner{
           padding: 10px;
     }

     .slider-text{
          margin-top: 0px;
      }
      
      .slider-text h1{
          font-size: 25px;
          margin-bottom: 15px;
      
      }
      
      .slider-text h2{
          font-size: 16px;
          margin-bottom: 10px;
      }
      
      .slider-text p{
          font-size: 16px;
          margin-bottom: 16px;
      }
      
      .font-awsome-icon ul li{
          margin-right: 25px !important;
          font-size: 30px;
      }
      
      
          /* indicator start  */
          .custom-indicator{
              display: none;
          }
          
     
          /* indicator end  */

     /* banner end   */
      /* feature start  */

      .feature{
        padding: 30px 0px 30px 0px;
    }

    .f-custom-header{}

    .f-custom-header h1{
        font-size: 30px;
         margin-bottom: 10px;
    }

    .f-custom-header p{
        font-size: 20px;
    }

              /* feature item  */

              .s-f-item{
                margin-top: 40px;
            }
        
            .single-feature-icon{
               
                
            }
        
            .single-feature-icon i{
                font-size: 35px;
                margin-bottom: 20px;
            }
        
            .single-feature-icon i:hover{
                    
                
            }
        
            .single-feature-txt{
                text-align: center;
            }
        
            .single-feature-txt h2{
                font-size: 22px;
                font-weight: 700;
                word-spacing: 5px;
            }
        
            .single-feature-txt p{
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 1px;
            }
            /* footer start  */
            footer {
               
                padding: 40px 0 40px 0;
            }
            address{
                text-align: center;
                margin: 10px 0px;
            }
            .f-h-h1 {
                margin-bottom: 10px;
            }

            .f-form {
                padding-top: 15px;
                padding-bottom: 15px;
              }
          .f-email {
                padding: 5px 10px;
                height: 40px;
                font-size: 15px;
              }
          .f-submit{
                height: 40px;}
          .footer-icon {
               margin: 20px 0;
            }

            .footer-icon i {
                
                font-size: 40px;
                margin-left: 25px;
                
            }

/* footer end  */



    /* feature end  */

    
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
     nav{
          padding-top: 20px!important;
      }
      .custom-nav-item li a {
        padding: 0 14px !important;
        text-align: right;
        margin-top: 10px;
        margin-bottom: 0px;
    }

    .custom-nav-item li:last-child a{
        padding: 0 14px !important;
        margin-bottom: 15px;
    }

     .banner{
          padding: 0px 0px 80px 0px
      }
      .custom-indicator {
        bottom: -60px;
    }
       /* feature start  */

       .feature{
        padding: 60px 0px 80px 0px;
    }

    .f-custom-header{}

    .f-custom-header h1{
       
    }

    .f-custom-header p{
       
    }




    /* feature end  */

              /* feature item  */

              .s-f-item{
                margin-top: 60px;
            }
        
            .single-feature-icon{
               
            }
        
            .single-feature-icon i{
                font-size: 45px;
            }
        
            .single-feature-icon i:hover{
                    transform: scale(.8);
                    transform: rotate(10deg);
                    color: rgb(255, 193, 37) !important;
                    margin-left: 5px;
                    margin-right: -5px;
                
            }
        
            .single-feature-txt{
               
            }
        
            .single-feature-txt h2{
                font-size: 22px;
                font-weight: 700;
                word-spacing: 5px;
            }
        
            .single-feature-txt p{
                font-size: 16px;
                font-weight: 400;
                letter-spacing: 1px;
            }
            /* footer start  */
            .f-h-h1 {
                margin-bottom: 15px;
            }
            /* footer end  */


     /* closing tag  */
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
   
   .banner{
        padding: 0px 0px 80px 0px
    }

     /* closing tag  */
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {


     /* closing tag  */
}

/*Extra extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) {


  
}