body{
    font-family: PT_Sans_Regular;
    font-size: 16px;
    font-weight: 400;
    color: #010101;

}
/* font family start */
@font-face {
    font-family: PT_Sans_Regular;
    src: url(../font/PTSans-Regular.ttf);
  }
  @font-face {
    font-family: PT_Sans_Bold;
    src: url(../font/PTSans-Bold.ttf);
  }
  /* font family end */

/* commom coding end  */


nav{
    background-color: #fcdb00 ;
    padding-top: 30px!important;
}

.logo{}

.c-nav{}

.custom-nav-item{}

.custom-nav-item li{
    
}

.custom-nav-item li a{
    padding: 0 55px !important;
  font-family: PT_Sans_Bold;
  font-size: 22px;
  font-weight: 700;
  color: #010101 !important;
    transition: .33s;
    margin-bottom: 30px;
}
.custom-nav-item li:last-child a {
    padding-right: 0 !important;
  }

.custom-nav-item li a:hover{
   color: #ffffff !important;
}
.navbar-toggler:focus{
    box-shadow: none;
  }

/* nav bar start  */

.banner{
    padding: 20px 0px 100px 0px;
    background-color: #fcdb00 ;
}

.slider-text{
    font-family: 'PT Sans', sans-serif;
    margin-top: 50px;
}

.slider-text h1{
    font-size: 32px;
    font-family: PT_Sans_Bold;
    font-weight: 700;
    margin-bottom: 20px;

}

.slider-text h2{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
}

.slider-text p{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
}

.font-awsome-icon{}

.font-awsome-icon ul{}

.font-awsome-icon ul li{
    margin-right: 50px !important;
    font-size: 42px;
}

.font-awsome-icon ul li i{
    transition: .33s;
}

.font-awsome-icon ul li i:hover{
    transform: scale(.9);
    color: white !important;

}

.slider-image{}

.slider-image img{}

    /* indicator start  */
    .custom-indicator{
        bottom: -80px;
        
    }
    .custom-indicator [data-bs-target] {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        cursor: pointer;
        background-color: white;
    }



    .custom-indicator .active {
        opacity: 1;
        background-color: white;
    }
   


    /* indicator end  */

/* nav bar end  */

/* feature start  */

.feature{
    padding: 80px 0px 100px 0px;
}

.f-custom-header{}

.f-custom-header h1{
    font-family: PT_Sans_Bold;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 15px;
}

.f-custom-header p{
    font-size: 20px;
}

.b{
    border: 1px solid black;
}

    /* feature item  */

    .feaature-item{
        
    }
    .s-f-item  {
        margin-top: 90px;
    }

    .single-feature-icon{
       
    }

    .single-feature-icon i{
        font-size: 50px;
        transition: .33s;
    }

    .single-feature-icon i:hover{
            transform: scale(.9);
            color: rgb(255, 193, 37) !important;
          
    }

    .single-feature-txt{}

    .single-feature-txt h2{
        font-size: 22px;
        font-weight: 700;
        word-spacing: 5px;
    }

    .single-feature-txt p{
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
    }



/* feature end  */

/* footer start  */

footer{
    background-color: #010101;
    padding: 80px 0 100px 0;
}

.footer-header{}

.f-h-h1{
    color: #fcdb00;
    margin-bottom: 30px;
}

.f-h-p{
    color: white;
}
/* footer header end  */
.footer-form{
    margin-top: 30px;
}

.c-btn{
    background-color: #fcdb00;
    padding: 1rem 1.5rem;
    color: #010101;
    font-weight: 700;
    transition: .33s;
}

.c-btn:hover{
    transform: scale(1.1);
    color: #fcdb00;
    background-color: #ffffff;
}

.footer-icon{
    margin: 40px 0px 50px 0;
}

.footer-icon i{
    color: #fcdb00;
    font-size: 50px;
    margin-left:40px;
    transition: .33s;
}
.footer-icon i:hover{
    
    transform: scale(.9);
    color: rgb(255, 255, 255) !important;
   
    
}


.f_1{}
.f_1 address{
  color: #ffffff;
}
.f_2{}
.f_2 p a{
  color: #ffffff;
  text-decoration: none;
}

.f-form{
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .f-email{
    padding: 15px 20px;
    height: 55px;
    width: 100%;
    font-family: PT_Sans_Regular;
    color: #898989;
  
  }
  .f-submit{
    width: 100%;
    height: 55px;
    background-color: #fcdb00;
    font-family: PT_Sans_Bold;
    font-size: 16px;
    font-weight: 700;
    color: #010101;
    text-transform: uppercase;
    transition: .3s;
  }
  .f-submit:hover{
    background-color: #ffffff;
    transform: scale(0.95);
    color: #010101;
  }
/* footer end  */

